@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

:root {
  --bg: #000000;
  --surface: #0b0b0b;
  --surface-2: #111111;

  --text: #ffffff;
  --muted: #8a8a8a;

  --border: #262626;
  --hover: #1a1a1a;

  --space-lg: 100px;
  --space-md: 60px;
  --space-sm: 20px;

  --radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

body {
  position: relative;
  background: radial-gradient(circle at top,#0f172a 0%,#020617 45%,#000 100%);
  /* background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px); */
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

section {
  padding: var(--space-lg) 8%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Orbitron', sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.page-title {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.page-subtitle {
  color: var(--muted);
  max-width: 700px;
  line-height: 1.7;
}

@media (max-width: 768px) {
  section {
    padding: 70px 5%;
  }

  .page-title {
    font-size: 32px;
  }
}